@media screen and (min-width: 1px) {
	body.custom-header-image .site-header {
		background: url(/static/Solo-leveling-header-bg.jpg) no-repeat 50% 50%;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
	}
}

.site-title,
.site-title a,
.site-description,
.site-description a {
	color: #fff
}

.site-title a {
	border-color: #fff
}